%nav
  = link_to '#' do
    %div
    %span
      ПУТЕШЕСТВИЯ

  = link_to '/osago' do
    %div
    %span
      АВТОСТРАХОВАНИЕ

  = link_to '#' do
    %div
    %span
      ИМУЩЕСТВО
#banner
  = render 'layouts/banner'
#content
  %p
    Нас выбирают за комфорт, спокойствие и надёжность
  %nav
    = render 'layouts/nav_aside'