= render 'layouts/nav_content'

#content.tehosmotr
  %nav
    = render 'layouts/nav_footer'

  = link_to '#' do
    %div
    %span.button
      Заказать техосмотр

  %div
    %p.text
      Технический осмотр транспортных средств техосмотр,
      ТО - проверка технического состояния транспортных средств,
      в том числе их частей и элементов их дополнительного оборудования,
      на предмет их соответствия обязательным требованиям безопасности
      транспортных средств в целях допуска транспортных средств к участию в дорожном движении на территории Российской Федерации и в случаях, предусмотренных международными договорами Российской Федерации, также за ее пределами.
      %br
      %br
      Для оформления полиса ОСАГО
      %br
      обязательно наличией действующей
      %br
      диагностической карты.

  = image_tag 'map_04.png'

  %nav
    = render 'layouts/nav_aside'