.menu
  = link_to '#' do
    = image_tag 'menu.png'
  %nav
    = link_to '#' do
      %div
      %span
        ПУТЕШЕСТВИЯ

    = link_to '/osago' do
      %div
      %span
        АВТОСТРАХОВАНИЕ

    = link_to '#' do
      %div
      %span
        ИМУЩЕСТВО