%ul
	%li
		= link_to 'ОСАГО', '/osago'
	%li
		= link_to 'КАСКО', '#'
	%li
		= link_to 'Зелёная карта', '/green-card'
	%li
		= link_to 'Техосмотр', '/tehosmotr' 
	%li
		= link_to 'Договор купли-продажи', '#'